<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>nostr</string>
		<string>lightning</string>
		<string>blixtwallet</string>
		<string>bluewallet</string>
		<string>breez</string>
		<string>lnlink</string>
		<string>muun</string>
		<string>phoenix</string>
		<string>river</string>
		<string>strike</string>
		<string>walletofsatoshi</string>
		<string>zebedee</string>
		<string>zeusln</string>
	</array>
</dict>
</plist>
